<!DOCTYPE html>
<html>
<head>
    <title>Chat Bot</title>
    <meta charset="utf-8">
</head>
<body>
<div id="chat-window">
    <div id="chat-output"></div>
    <form id="chat-form" method="POST" action="{% url 'chat:generate_text' %}">
        {% csrf_token %}
        <input type="text" id="chat-input" value="sample.txt" readonly>
        <button type="submit" id="chat-submit">Send</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chat-form').submit();
    });
</script>
</body>
</html>
